* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

h3 {
  margin: 50px 0;
  margin-left: 10px;
  font-size: 2rem;
}

/* Navigation bar and HEADING */

.container {
  max-width: 1000px;
  margin: -50px auto;
  padding: 50px 0;
}

header {
  background: url("https://images7.alphacoders.com/430/430888.jpg") no-repeat
    fixed center center/cover;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: beige;
  padding: 50px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: black;
}

/* This gets rid of the dots in the list */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0px 20px;
}

nav ul li:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: beige;
}

nav ul li a {
  color: beige;
  text-decoration: none;
  font-size: 1.5rem;
}

.logo a {
  color: beige;
  text-decoration: none;
}

.hero-banner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.hero-banner h2 {
  font-size: 5rem;
  color: beige;
  box-shadow: 0 0 5px beige;
  background-color: black;
  z-index: 1;
}

/* Projects part */
.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.card {
  box-shadow: 0 0 5px grey;
  margin: 20px;
  padding-bottom: 20px;
  background-color: rgb(235, 235, 235);
}

.card img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card h4,
.card p,
.card a {
  padding: 20px;
}

.card h4 {
  text-decoration: underline;
}

/* About Me */

#aboutme {
  display: inline-block;
}

#aboutme img {
  float: right;
  width: 200px;
  padding: 20px;
  margin: 0 50px;
}

/* Skills */

.box {
  width: 200px;
  height: 200px;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 0 5px grey;
  margin: 20px;
}

.box progress {
  padding-left: 10px;
  padding-right: 10px;
}

.box img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.box h4 {
  text-align: center;
  padding: 20px 0;
  text-decoration: underline;
}

#skills {
  margin-bottom: 50px;
}

footer {
  background-color: black;
  text-align: center;
  padding: 50px;
}

/* Maybe margin: auto; this should center it */
.form-group {
  padding: 20px;
}

label {
  display: inline-block;
  width: 200px;
  color: beige;
}

input[type="submit"] {
  background-color: rgb(165, 219, 111);
  width: 25%;
  justify-content: right;
  font-size: larger;
  /* object-position: right;  THIS AIN'T WORKING FOR ME*/
}

input[type="submit"]:hover {
  transform: scale(1.1);
  background-color: coral;
  transition: all 2s;
  cursor: pointer;
}

input,
textarea {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  padding: 1rem;
  width: 500px;
  border-radius: 5px;
}

footer h3 {
  color: beige;
}

p {
  margin: 0 10px;
}

@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }

  #aboutme img {
    float: none;
    flex-direction: column;
  }

  input,
  textarea {
    width: 100%;
  }

  .hero-banner h2 {
    font-size: 2rem;
    color: beige;
    box-shadow: 0 0 5px beige;
    background-color: black;
    z-index: 1;
  }

  header {
    background: url("https://images7.alphacoders.com/430/430888.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .box {
    width: 90%;
    height: 200px;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 5px grey;
    margin: 20px;
  }
}

#button {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: solid beige 1px;
  outline: none;
  background-color: black;
  color: white;
  padding: 0px 25px;
  border-radius: 5px;
  font-size: 25px;
}

#button:hover {
  transform: scale(1.1);
  background-color: coral;
  transition: all 0.25s;
  cursor: pointer;
}

.grid-container {
  height: auto;
  width: 100%;
  background-color: white(103, 185, 172);
  display: grid;
  margin: 50px auto;
  grid-gap: 20px;
  grid-template-areas:
    "grid-item grid-item grid-item"
    "grid-item grid-item grid-item"
    "grid-item grid-item grid-item";
}

.grid-item img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

p {
  padding: 25px 0;
  margin-left: 5px;
}
